<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock_price_prediction</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <link href="E:\Technocolabs\Deployment\style.css" rel="stylesheet" href="./css/style">
</head>

<body>
    <header>
        <nav>
            <div class="nav-right">
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Updates</a>

            </div>
            <div class="Head">
                <div>
                    <h1>Stock Price Prediction For Large Company </h1>
                </div>

            </div>
        </nav>
        <div class="picture">
            <div class="left">
                <h2>COMPANY</h2>
                <img src="E:/Technocolabs/Deployment/images/py.png">
            </div>
            <div class="right">
                <h3>Description</h3>
                <p>Technocolabs is a Software Development Services Company that Provide Services in Application
                    Development, Web Development, API Management, Cloud Application Development, Website Integration,
                    Data Science, Data Mining, Search Engine Optimization (SEO), Product Development Services, Android
                    Application Development Services, Python Software Development Services, Java Web application
                    Services, Machine learning App Development, Deep learning Model Tunning, Serverside Optimization,
                    Data Base Development Services, etc.
                </p>
            </div>
        </div>

        <nav>
            <div class="table">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Sr.No</th>
                        <th scope="col">Name</th>
                        <th scope="col">Team Head</th>
                        <th scope="col">Team</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Tirthankar Halder</td>
                            <td>Tirthankar </td>
                            <td>Team B</td>
                          </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Eyan Parvez </td>
                        <td>Tirthankar </td>
                        <td>Team B</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Ranjit Kanojiya</td>
                        <td>Tirthankar </td>
                        <td>Team B</td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td >Rishab</td>
                        <td>Tirthankar </td>
                        <td>Team B</td>
                      </tr>
                      <tr>
                        <th scope="row">1</th>
                        <td>Hardik</td>
                        <td>Tirthankar </td>
                        <td>Team B</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </nav>
    </header>
    <script src="./js/app.js"></script>
</body>

</html>