<!-- This is GUI for Sentiment Analysis Application Using Machine Learning Classifer -->

<!DOCTYPE html>
<html>
<head>
	<title>
		Stock Price
	</title>
	<link rel="shortcut icon" href="static/images/tlogo.jfif" type="image/x-icon">  
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="background-color:#DADED4;">
<div class="container">
<center>
	<p>&nbsp;</p>
	<img class="center" src="static/images/2.jpg" alt="" width="1000" height="440">
	<p>&nbsp;</p>
	<h3 style="font-family: times, serif; font-size:40pt;">Stock Price Prediction Of Large Cap Companies</h3>
	<p>&nbsp;</p>

<form class=" m-auto" action="{{url_for('Proceed')}}">
<button type="submit" class="btn btn-warning btn-block btn-lg"><strong>Proceed &raquo;</a></strong></button>
</form>
<p>&nbsp;</p>
</form>
</div>
</body>
</html>