<!-- This is GUI for Stock price prediction Application Using Machine Learning Classifer -->

<!DOCTYPE html>
<html>
<head>
	<title>
		Stock Price
	</title>
	<link rel="shortcut icon" href="static/images/tlogo.jfif" type="image/x-icon">  
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="background-color:#DADED4;">
<div class="container">
<div class="navbar">
            <img class="center" src="static/images/tlogo.jfif" alt="" width="100" height="100"> 
<center>
	<p>&nbsp;</p>
	<h3 style="font-family: times, serif; font-size:40pt;">STOCK PRICE PREDICTION OF LARGE CAP COMPANIES</h3>
	<p>&nbsp;</p>
	<img class="center" src="static/images/2.jpg" alt="" width="900" height="340">
	<p>&nbsp;</p>
	<div class="tha">
                <h4>TEAM B</h4>
            <table class="table">
                <tr = id="Name">
                    
					<th>SL NO.</th>
					<th>NAME</th>    
                    <th>MEMBER</th>
					
                </tr>
                <tr>
					<th>1</th>
                    <th>TIRTHANKAR HALDER </th>
					  <th>TEAM B</th>

                </tr>
                <tr>
					<th>2</th>
                    <th>MD EYAN PARVEZ MULLICK</th>
					<th>TEAM B</th>
                </tr>
                <tr>
					<th>3</th>
                    <th>RANJIT RAMBABU KANOJIYA</th>   
					<th>TEAM B</th>
    
                </tr>
                <tr>
                   <th>4</th>
                    <th>RISHABH GOYAL</th>            
					<th>TEAM B</th>
                </tr>
            </div>
                
            </table>

<form class=" m-auto" action="{{url_for('Proceed')}}">
<button type="submit" class="btn btn-warning btn-block btn-lg"><strong>Proceed &raquo;</a></strong></button>
</form>
<p>&nbsp;</p>
</form>
</div>
</body>
</html>
