<!DOCTYPE html>
<html>
<head>
	<title>
		Stock Analysis
	</title>
	<link rel="shortcut icon" href="static/images/tlogo.jfif" type="image/x-icon">  
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="background-color:#DADED4;">
<div class="container">
<center>
	<p>&nbsp;</p>
	<h3 style="font-family: times, serif; font-size:40pt;">Moving Average of Stocks Prices</h3>
	<p>&nbsp;</p>
	<img class="center" src="static/images/ma.png" alt="" width="1000" height="440">
	<p>&nbsp;</p>

</div>
</body>
</html>
